* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid black;
    min-height: 5rem;
    height: auto;
}

main {
    height: calc(100vh - 5rem);
}

h1 {
    font-size: 4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
}

.search-section {
    display: flex;
    justify-content: center;
    text-align: center;
}

label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem;
}

input {
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    display: block;
    font-size: 2.5rem;
}

small {
    color: red;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    min-height: 20px;
}

button {
    background-color: #f0f8ff;
    color: black;
    padding: 0.5rem 1rem;
    font-size: 2.5rem;
    border: 1px solid #d0d7dd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: white;
    color: black;
}

span {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
}